body {
  text-align: center;
}

h1, button {
  padding: 5px;
  margin: 5px;
}

.container {
  margin: 0 auto;
  height: 90vmin;
  width: 90vmin;
  /* border: 1px solid blue; */
}

.row {
  /* margin: auto;
  width: auto; */
  height: 6%;
  /* border: 1px solid red; */
}

.cell {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 6%;
  height: 100%;
  border: 1px solid black;
}

.hovered {
  background-color: yellowgreen;
}